<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/dashboard.css'/>
    <link rel="stylesheet" href="/static/css/all.min.css">

</head>
<body>
<nav id="main-nav" class="nav-down">
    <div id="nav-color" class="gradient-color"></div>

    <div class="nav-wrapper d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <a href="home.html" class="button-collapse">
            <i class="fas fa-backward fa-xs pt-1 fa-1x"></i> 返回
        </a>
        <h3 class="brand-logo">一一立夏一一
        </h3>
    </div>
</nav>

<section id="photos" data-scroll-index="2" class="main-section text-center pt-5 mt-4">
    <div class="container">
        <span class="text-white">立夏 四月十三   2020.05.05 周四 雨 杭州动物园
        </span>
        <div class="thumbnail-container">
            <img src="/static/images/06BeginningOfSummer/DSCF0633.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF0666.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF0845.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF0860.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF0953.JPG" style="width:100%">
            <p>鹿园里的一只盘羊</p>
            <img src="/static/images/06BeginningOfSummer/DSCF0968.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF0995.JPG" style="width:100%">
            <p>右边的是黇鹿, 与梅花鹿的区别之一就是, 其臀部有状如()的黑色图案</p>
            <img src="/static/images/06BeginningOfSummer/DSCF1044.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1062.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1083.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1209.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1284.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1296.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1314.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1335.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1362.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1395.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1401.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1413.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1431.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1443.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1452.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1476.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1503.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1701.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1704.JPG" style="width:100%">
            <p>琵鹭和蓑羽鹤</p>
            <img src="/static/images/06BeginningOfSummer/DSCF1743.JPG" style="width:100%">
            <p>丹顶鹤</p>
            <img src="/static/images/06BeginningOfSummer/DSCF1902.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1971.JPG" style="width:100%">
            <img src="/static/images/06BeginningOfSummer/DSCF1995.JPG" style="width:100%">
        </div>
    </div>
</section>

</body>
<!--<script src='/static/js/jquery-3.3.1.min.js'></script>-->
<!--<script src='/static/js/bootstrap.min.js'></script>-->
<!--<script src="/static/js/jquery-confirm.js"></script>-->

<!--<script type="text/javascript">-->
    <!--$(document).ready(function () {-->

        <!--$(".thumbnail").on('click', function () {-->
            <!--function confirm_tip(title, content) {-->
                <!--// 提示信息-->
                <!--let confirm = $.confirm({-->
                    <!--closeIcon: false,-->
                    <!--columnClass: 'col-md-12',-->
                    <!--theme: 'supervan',-->
                    <!--type: 'red',-->
                    <!--title: title,-->
                    <!--content: content,-->
                    <!--buttons: {-->
                        <!--cancel: {-->
                            <!--text: '关闭',-->
                            <!--btnClass: 'btn-warning'-->
                        <!--}-->
                    <!--}-->
                <!--});-->
                <!--confirm.open();-->
            <!--}-->

            <!--confirm_tip('', '<img style="width: 100%" src="/static/images/06BeginningOfSummer/DSCF2035.JPG">')-->
        <!--});-->

    <!--});-->
<!--</script>-->
<!--<script src='/static/js/all.js'></script>-->

</html>
