<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/dashboard.css'/>
    <link rel="stylesheet" href="/static/css/all.min.css">

</head>
<body>
<nav id="main-nav" class="nav-down">
    <div id="nav-color" class="gradient-color"></div>

    <div class="nav-wrapper d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <a href="home.html" class="button-collapse">
            <i class="fas fa-backward fa-xs pt-1 fa-1x"></i> 返回
        </a>
        <h3 class="brand-logo">一一芒种一一
        </h3>
    </div>
</nav>

<section id="photos" data-scroll-index="2" class="main-section text-center pt-5 mt-4">
    <div class="container">
        <span class="text-white">芒种 闰四月十四 2020.06.05 周五
        </span>
        <div class="thumbnail-container">
            <img src="/static/images/08BeardedGrain/DSCF4381.JPG" style="width:100%">
            <p>黑白疣猴</p>
            <img src="/static/images/08BeardedGrain/DSCF4405.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4407.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4410.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4412.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4418.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4419.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4424.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4441.JPG" style="width:100%">
            <p>这些露屁股的大部分是黇鹿了, 除了右上两只体型稍大的. 看尾巴是梅花鹿</p>
            <img src="/static/images/08BeardedGrain/DSCF4451.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4472.JPG" style="width:100%">
            <p>豹猫</p>
            <img src="/static/images/08BeardedGrain/DSCF4477.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4509.JPG" style="width:100%">
            <p>浣熊特写</p>
            <img src="/static/images/08BeardedGrain/DSCF4511.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4524.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4528.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4543.JPG" style="width:100%">
            <p>薮猫</p>
            <img src="/static/images/08BeardedGrain/DSCF4545.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4558.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4561.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4562.JPG" style="width:100%">
            <p>细尾獴特写</p>
            <img src="/static/images/08BeardedGrain/DSCF4564.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4576.JPG" style="width:100%">
            <p>怕热的小熊猫怎么都不愿意出来摆摊, 即使是在奶爸的诱惑下. 这只看耳标是雌性, 住在大熊猫馆, 脸也不是那么白, 那么是汤圆了?</p>
            <img src="/static/images/08BeardedGrain/DSCF4589.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4609.JPG" style="width:100%">
            <p>山魈</p>
            <img src="/static/images/08BeardedGrain/DSCF4621.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4633.JPG" style="width:100%">
            <p>松鼠猴</p>
            <img src="/static/images/08BeardedGrain/DSCF4639.JPG" style="width:100%">
            <p>犀鸟</p>
            <img src="/static/images/08BeardedGrain/DSCF4648.JPG" style="width:100%">
            <img src="/static/images/08BeardedGrain/DSCF4664.JPG" style="width:100%">
            <p>小黑天鹅又大了一点点</p>
        </div>
    </div>
</section>

</body>
</html>
