<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/dashboard.css'/>
    <link rel="stylesheet" href="/static/css/all.min.css">

</head>
<body>
<nav id="main-nav" class="nav-down">
    <div id="nav-color" class="gradient-color"></div>

    <div class="nav-wrapper d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <a href="home.html" class="button-collapse">
            <i class="fas fa-backward fa-xs pt-1 fa-1x"></i> 返回
        </a>
        <h3 class="brand-logo">一一小暑一一
        </h3>
    </div>
</nav>

<section id="photos" data-scroll-index="2" class="main-section text-center pt-5 mt-4">
    <div class="container">
        <span class="text-white">小暑 五月十六   2020.07.06 周一
        </span>
        <div class="thumbnail-container">
            <img src="/static/images/10SlightHeat/20200707 白黇鹿 舔舐.jpg" style="width:100%">
            <p>白黇鹿生的小鹿</p>
            <img src="/static/images/10SlightHeat/DSCF6261.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/DSCF6262.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/DSCF6271.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/DSCF6272.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/DSCF6273.JPG" style="width:100%">

            <img src="/static/images/10SlightHeat/DSCF6274.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 白黇鹿 鹿宝宝第一次站起来.JPG" style="width:100%">
            <p>鹿宝宝第一次站起来的过程</p>
            <img src="/static/images/10SlightHeat/DSCF6314.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 白黇鹿 .jpg" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 白黇鹿2 .JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/DSCF6336.JPG" style="width:100%">


            <img src="/static/images/10SlightHeat/DSCF6354.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/DSCF6445.JPG" style="width:100%">


            <img src="/static/images/10SlightHeat/20200707 松鼠.jpg" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 梅花鹿 好奇心.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 梅花鹿2.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 梅花鹿3.JPG" style="width:100%">
            <p>最近陆陆续续好几只鹿宝宝诞生</p>
            <img src="/static/images/10SlightHeat/20200707 梅花鹿4.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 梅花鹿.jpg" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 猕猴2.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 猕猴.jpg" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 袋鼠.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 长颈鹿.JPG" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 鹤顶红.jpg" style="width:100%">
            <p>鹤顶红</p>
            <img src="/static/images/10SlightHeat/20200707 红龙睛2.jpg" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 红龙睛.jpg" style="width:100%">
            <p>红龙睛</p>
            <img src="/static/images/10SlightHeat/20200707 红龙睛蝶尾.jpg.jpg" style="width:100%">
            <p>红龙睛蝶尾</p>
            <img src="/static/images/10SlightHeat/20200707 彩色高头2 .jpg" style="width:100%">
            <img src="/static/images/10SlightHeat/20200707 彩色高头.jpg" style="width:100%">
            <p>彩色高头</p>


        </div>
    </div>
</section>

</body>
</html>
