<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/dashboard.css'/>
    <link rel="stylesheet" href="/static/css/all.min.css">

</head>
<body>
<nav id="main-nav" class="nav-down">
    <div id="nav-color" class="gradient-color"></div>

    <div class="nav-wrapper d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <a href="home.html" class="button-collapse">
            <i class="fas fa-backward fa-xs pt-1 fa-1x"></i> 返回
        </a>
        <h3 class="brand-logo">一一立秋一一
        </h3>
    </div>
</nav>

<section id="photos" data-scroll-index="2" class="main-section text-center pt-5 mt-4">
    <div class="container">
        <span class="text-white">立秋 六月十八   2020.08.07 周五
        </span>
        <div class="thumbnail-container">
            <img src="/static/images/12BeginningOfAutumn/20200806 不知名城市水鸟.jpg" style="width:100%">
            <p>夜鹭</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 孔雀  2.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 孔雀  3.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 小熊猫  2.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 小熊猫  4.jpg" style="width:100%">
            <p>雌性, 大熊猫馆, 那就是汤圆了</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 小熊猫  3.jpg" style="width:100%">
            <p>雄性, 小熊猫馆, 苹果</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 小熊猫 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 松鼠猴 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 梅花鹿  2.jpg" style="width:100%">
            <p>最上面那只, 还有白黇鹿左边那只, 是梅花鹿, 其余露屁股的是黇鹿, 这斑点一模一样啊</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 梅花鹿  3.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 梅花鹿 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 毛冠鹿  2.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 毛冠鹿  3.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 毛冠鹿 .jpg" style="width:100%">
            <p>毛冠鹿</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 火烈鸟  2.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 火烈鸟  3.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 火烈鸟 .jpg" style="width:100%">
            <p>火烈鸟</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 环尾狐猴 .jpg" style="width:100%">
            <p>环尾狐猴</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 细尾獴 .jpg" style="width:100%">
            <p>一只热趴的细尾獴</p>
            <img src="/static/images/12BeginningOfAutumn/20200806 耳廓狐 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 长颈鹿 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 鸳鸯 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 黄麂 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 黑天鹅  2.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 黑天鹅 .jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/20200806 黑麂 .jpg" style="width:100%">
            <p>黑麂, 体型比黄麂大, 颜色也更黑</p>
            <img src="/static/images/12BeginningOfAutumn/DJI_0256.JPG" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/DSCF8447.jpg" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/DSCF8632.JPG" style="width:100%">
            <img src="/static/images/12BeginningOfAutumn/DSCF9052.jpg" style="width:100%">
        </div>
    </div>
</section>

</body>
</html>
