<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/dashboard.css'/>
    <link rel="stylesheet" href="/static/css/all.min.css">

</head>
<body>
<nav id="main-nav" class="nav-down">
    <div id="nav-color" class="gradient-color"></div>

    <div class="nav-wrapper d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <a href="home.html" class="button-collapse">
            <i class="fas fa-backward fa-xs pt-1 fa-1x"></i> 返回
        </a>
        <h3 class="brand-logo">一一白露一一
        </h3>
    </div>
</nav>

<section id="photos" data-scroll-index="2" class="main-section text-center pt-5 mt-4">
    <div class="container">
        <span class="text-white">白露 七月二十   2020.09.07 周六 视频
        </span>
        <div class="thumbnail-container" style="height: 521px">
            <iframe src="//player.bilibili.com/player.html?bvid=BV1hf4y1X7u1&page=1" style="height: 100%;width: 100%" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
        </div>
    </div>
</section>

</body>
</html>
