<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/dashboard.css'/>
    <link rel="stylesheet" href="/static/css/all.min.css">

</head>
<body>
<nav id="main-nav" class="nav-down">
    <div id="nav-color" class="gradient-color"></div>

    <div class="nav-wrapper d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <a href="home.html" class="button-collapse">
            <i class="fas fa-backward fa-xs pt-1 fa-1x"></i> 返回
        </a>
        <h3 class="brand-logo">一一立冬一一
        </h3>
    </div>
</nav>

<section id="photos" data-scroll-index="2" class="main-section text-center pt-5 mt-4">
    <div class="container">
        <span class="text-white">立冬 九月廿二   2020.11.07 周六
        </span>
        <div class="thumbnail-container">
            <img src="/static/images/18BeginningOfWinter/DSCF4879.JPG" style="width:100%">
            <p>红绿金刚</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5065.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF4892.JPG" style="width:100%">
            <p>鸳鸯 左雌右雄</p>
            <img src="/static/images/18BeginningOfWinter/DSCF4953.JPG" style="width:100%">

            <img src="/static/images/18BeginningOfWinter/DSCF4984.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF4992.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF4993.JPG" style="width:100%">
            <p>花冠皱盔犀鸟</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5003.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5012.JPG" style="width:100%">

            <img src="/static/images/18BeginningOfWinter/DSCF5076.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5078.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5082.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5087.JPG" style="width:100%">
            <p>蓝孔雀 雌鸟 和 幼崽</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5046.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5049.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5054.JPG" style="width:100%">
            <p>双角犀鸟</p>

            <img src="/static/images/18BeginningOfWinter/DSCF5094.JPG" style="width:100%">
            <p>黑天鹅</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5122.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5138.JPG" style="width:100%">
            <p>火烈鸟</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5137.JPG" style="width:100%">
            <p>城市水鸟 夜鹭亚成鸟 or 绿鹭亚成鸟 ?</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5139.JPG" style="width:100%">
            <p>城市水鸟 夜鹭</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5140.JPG" style="width:100%">
            <p>城市水鸟 白鹭</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5175.JPG" style="width:100%">
            <p>细尾獴</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5191.JPG" style="width:100%">
            <p>鸸鹋</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5205.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5211.JPG" style="width:100%">
            <p>猕猴</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5224.JPG" style="width:100%">
            <p>丹顶鹤 (脑袋和白枕鹤有点像)</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5263.JPG" style="width:100%">
            <img src="/static/images/18BeginningOfWinter/DSCF5274.JPG" style="width:100%">
            <p>黑猩猩</p>
            <img src="/static/images/18BeginningOfWinter/DSCF5291.JPG" style="width:100%">
        </div>
    </div>
</section>

</body>
</html>
